/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #000; */
}
button{
    cursor: pointer;
}
.container-1{
    height: 100vh;
    background-image: url('images/bg_2.jpg');
    background-position: center center;
    background-size: cover;
    font-family: 'Young Serif', serif;
}

@keyframes animatedBackground {
    0% {
      /* background-image: url('images/bg_2.jpg'); 
       */
       background-position: center center;
       background-size: 0;
    }
    
    100% {
        background-position: center center;
        background-size: cover;
    }
  }
  
  
  .show-img1{
    background-image: url('images/bg_2.jpg');
    animation: animatedBackground 4s ease-in-out infinite;
}
.show-img2{
      animation: animatedBackground 4s ease-in-out infinite;
      background-image: url('images/bg_1.jpg');
      
    }
    .show-img3{
      animation: animatedBackground 4s ease-in-out infinite;
    background-image: url('images/bg_2.jpg');

  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(6px);
    /* background-color: transparent; */
    /* padding:20px 0; */
    /* height: fit-content; */
    border-bottom: 1px solid rgb(175, 175, 163) ;
    /* border: none; */
}

.logo{
    /* border-bottom: 2px solid rgb(184, 168, 168);  */
    /* width: 100vw; */
    text-align: center;
    color: aliceblue;
}

.nav-active{
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav > *{
    margin: 20px;
}

.nav-links{
    display: flex;
    flex-basis: 60%;
    /* background-color: beige; */
    justify-content: space-evenly;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    font-size: 13px;
    /* font-family: arial; */
    color: beige;
    font-weight: bolder;
    transition: all 0.3s ease;
}

.nav-links a:hover{
    color: gold;
    text-shadow: 0 0 3px black;
}

.burger{
    width: 40px;
    font-weight: bolder;
    font-size: 20px;
    display: none;
}

@media(max-width:650px){
    nav{
        position: relative;
        /* display: block; */
        background: #000000b6;
    }
    nav > *{
        /* display: block; */
       margin: 10px;
    }
    .nav-links{
        display: block;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease ;
    }
    
    .burger{
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        right: 5vw;
    }
    /* .burger::after{
        content: "MENU";
        position: relative;
        top: -20px;
        left: 10px;
        overflow: visible;
        color: wheat;
    } */
    .menu-show{
        height: 170px;
    }
}


.sec1{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 90vh;
   width: 90vw;
   margin: 0 auto;
   color: aliceblue;
   text-align: center;
}

.sec1>*{
    margin-top: 2rem;
}

.fix1{
    color: goldenrod;
    text-shadow: 2px 2px 6px rgb(1, 1, 1);
    font-family: cursive;
    font-weight: bold;
    font-size: clamp(25px,5vw,30px);
}

.btns button{
    padding: 12px 10px;
    cursor: pointer;
    border-color: aliceblue;
    outline: none;
}

.btn1{
    background-color: goldenrod;
    transition: all 0.15s linear;
}
.btn2{
color: aliceblue;
background: transparent;
backdrop-filter: blur(6px);

transition: all 0.15s linear;
}

.btn1:hover{
    background-color: transparent;
    backdrop-filter: blur(6px);
}

.btn2:hover{
    color: black;
    background-color: orange;
}

.two{
    font-family: arial;
    width: 100%;
    height: max-content;
    background-color: rgb(156, 113, 113);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card{
    background: #c49b63;
    color: white;
    padding: 1rem;
    height: max-content;
    width: 50vw;
    position: absolute;
    bottom: 0;
    /* text-align: center; */
    right: 0;
}

.card form{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* justify-content: space-between; */
}
    
.card input{
    padding: 0.8rem;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
}


.card input::placeholder{
    color: rgb(211, 205, 205);
    font-weight: bold;
}

#Date::target-text{
   display: none;
   visibility: hidden;
}

.card button{
    padding: 0.8rem;
    transition: all 0.1s ease;
    border: none;
}
.card button:hover{
background-color: black;
color: aliceblue;
}


.timings{
    background: #000;
    color: aliceblue;
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: baseline;
    gap: 3%;
    padding: 2rem;
}

.timings i{
    color: #c49b63;
    padding: 4px;
}

.timings span{
    font-weight: bolder;
    display: block;
    margin-bottom: 0.6rem;
    /* font-size: large; */
}
.timings .col{
    min-width: 25%;
}

.col p{
    padding-left: 0.6rem;
    color: #7e7e7e;
}

@media (max-width:700px){
    .card form, .two{
        display: block;
       
    }
    .card{
        position: relative;
        width: 100%;
        top: 0;
    }
    form input,form button{
        display: block;
        margin-top: 0.8rem;
        width: 90%;
    }
    .timings{
        width: 100%;
        display: block;
    }
    .col{
        margin: 1rem;
    }
}

.three{
    display: flex;
    width:   100%;
    min-height:  max-content;
    position: relative;
    /* flex: 1; */
}

.three img{

    background: #c9b4b4;
    /* aspect-ratio: auto */
    object-fit: cover;
    object-position: center;
    flex: 1;
    width: 50%;
}
.three .blackbg{
   background: #000;
   flex: 1;
}

.three .overlay{
    position: absolute;
    color: white;
    background-color: #00000068;
    padding: 3rem 2rem;
    width: 50vw;
    top: 25%;
    left: 40%;
}
.three .overlay h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.three .overlay h1::before{
    content: "Discover";
    color: #c49b63;
    font-family: 'Young Serif', serif;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    margin-top: 2rem;
    top: -22px;
}

.four{
    display: flex;
    padding: 6rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    background-color: #c49b63;
    
}

.four .col{
    display: flex;
    max-width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}


.four p{
    color: #000;
    margin-top: 2rem;
}

.four .title{
    font-weight:600;
    font-size: large;
}

.four .desc{
    opacity: 0.8;
    font-size: medium;
}

lord-icon{
    border: 1px solid rgba(0, 0, 0, 0.596);
    border-radius: 25% ;
    background: #745c5c9a;
    /* margin: 0.7rem; */
    /* color: #c49b63; */
}
    
    @media(max-width:700px){
        .three,.four{
            flex-direction: column;
            align-items: center;
        }
        .three img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        .three .overlay{
            width: 100%;
            position: relative;
            left: 0;
            top: 50%;
            background: #000;
        }

        .four{
            padding: 1.5rem;
        }
        .four .col{
            min-width: 90%;
        }

    }